<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="ITI.Car.Services.CarService" behaviorConfiguration="basicBehavior">
        <endpoint address="http://localhost/CarService" 
                  binding="basicHttpBinding" 
                  contract="ITI.Car.Services.ICarService"/>
        <endpoint address="http://localhost/CarServiceRest"
                  binding="webHttpBinding"
                  behaviorConfiguration="WebBehavior"
                  contract="ITI.Car.Services.ICarService"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="basicBehavior">
          <serviceMetadata httpGetUrl="http://localhost/CarService/Meta" httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors >
        <behavior name="WebBehavior">
          <webHttp helpEnabled="true" 
                   defaultOutgoingResponseFormat="Json" 
                   automaticFormatSelectionEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
